/**********
GENERAL
***********/

body {
  font-family: 'Oswald', sans-serif;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
}

/**********
HEADING
***********/

header {
  position: relative;
  margin: auto;
  padding: 5px 0 0 0;
  width: 60%;
}


/**********
FOOTER
***********/

footer {
  font-size: 0.75em;
  text-align: center;
  padding top: 50px;
  margin: auto;
}

.social-icon {
  width: 50px;
  height: 50px;
  padding: 0 20px 0 20px;
}
