/**********
GENERAL
***********/

body {
  color: #363636;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: #fcfcfa;
  font-size: 1.65em;
}

.nav {
  font-family: "Oswald", sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

p {
  font-family: "Merriweather", serif;
}

img {
  max-width: 100%;
}

a:link {
  color: #789a9a;
}

a:visited {
  color: #789a9a;
}

a:hover {
  color: #99bcb7;
}

/**********
HEADING
***********/

header {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 5px 0 0 0;
  width: 60%;
}

/********
NAVIGATION
*********/

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #75655a;
}

.nav a {
  text-decoration: none;
  color: #789a9a;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  color: #99bcb7;
}

.nav a.active {
  color: #789a9a;
  cursor: default;
}

/**********
BLOCKQUOTES
**********/
blockquote {
  border-left: 7px solid #99bcb7;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.1em;
  color: #777;
  overflow: hidden;
}

blockquote p {
  display: inline;

}

/**********
IMAGES
**********/
img[alt=bookcover] {
  display: inline block;
  max-width: 30%;
  float: left;
  margin: 15px 20px 15px 0px;
}

/**********
FRONT PAGE
**********/

.post-list {
  list-style-type: none;
  margin: 0 auto;
  max-width: 740px;
}

.bookcoverimg {
  display: block;
  max-width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.post-title {
  margin-bottom: 25px;
}

/**********
POST
**********/
.bookLinks {
  text-align: center;
  font-size: 0.9em;
}

.post {
  margin: 0 auto;
  max-width: 740px;
}

/**********
ARCHIVE
**********/

.bookcoverimgarch {
  display: inline block;
  max-width: 25%;
  float: left;
  margin: 0 15px 15px 0;
}

/**********
FOOTER
***********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding top: 50px;
}

#social {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.social-icon {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 35px;
  margin: 20px 2.5px 20px 2.5px;

}
