/**********
GENERAL
***********/

body {
  font-family: 'Oswald', sans-serif;
  color: #363636;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background-image: url("/Users/katybowman/Documents/Edge_Of_Uncertainty/Images/lightpaperfibers.png");
  background-color: #ffffcc;
}

img {
  max-width: 100%;
}

/**********
HEADING
***********/

header {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 5px 0 0 0;
  width: 60%;
}

/********
NAVIGATION
*********/

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #75655a;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  color: #99bcb7;
}

.nav a.active {
  color: #789a9a;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: 1px solid #75655a;
    border-top: 1px solid #75655a;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }



/**********
FOOTER
***********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding top: 50px;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
