@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: 1px solid #75655a;
    border-top: 1px solid #75655a;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
