---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h3 class="post-meta">{{ page.author }}{% if page.meta %}{% endif %}</h3>
    <h3><a href = page.indiebound>Indiebound</a> | <a href = page.amazon>Amazon</a> | <a href = page.library>Library</a> | <a href = page.goodreads>Goodreads</a></h3>

  </header>

  <body class="post-meta">
    <h2>Reviewed by {{page.reviewer}}</h2>
    <h3>{{page.date | date: "%b %-d, %Y" }}</h3>
  </body>

  <article class="post-content">
    {{ content }}
  </article>

</div>
