/**********
GENERAL
***********/

body {
  color: #363636;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  /*background-image: url("images/lightpaperfibers.png");
  background-color: #ffffcc;*/
  background: #fcfcfa;
}

.nav {
  font-family: "Oswald", sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

p {
  font-family: "Merriweather", serif;
}

img {
  max-width: 100%;
}

a:link {
  color: #789a9a;
}

a:visited {
  color: #789a9a;
}

a:hover {
  color: #99bcb7;
}

/**********
HEADING
***********/

header {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 5px 0 0 0;
  width: 60%;
}

/********
NAVIGATION
*********/

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #75655a;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  color: #99bcb7;
}

.nav a.active {
  color: #789a9a;
  cursor: default;
}

/**********
BLOCKQUOTES
**********/
blockquote {
  border-left: 7px solid #99bcb7;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 1.1em;
  color: #999;
}

/*blockquote:before {
  display: block;
  font-family: "Merriweather";
  color: #789a9a;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/

blockquote p {
  display: inline;

}


/**********
FOOTER
***********/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding top: 50px;
}

#social {
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.social-icon {
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 50px;
  margin: 10px;
}
