@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: 1px solid #75655a;
    border-top: 1px solid #75655a;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .bookcoverimg {
    display: inline block;
    max-width: 25%;
    float: left;
    margin: 0px 20px 0px 0px;
  }

  .bookcoverimgarch {
    display: inline block;
    max-width: 15%;
    float: left;
    margin: 0px 20px 15px 0px;
  }

}
