<footer>

  <div class="container-fluid">
    <div class="row">
        <span id="social">
          <a class="social-icon" href="http://twitter.com/EdgeofU"><img src="/images/Twitter_logo_final.png" alt="Twitter"></a>
          <a class="social-icon" href="http://facebook.com/edgeofuncertainty"><img src="/images/FB_logo_final.png" alt="Facebook"></a>
          <a class="social-icon" href="https://www.goodreads.com/edge_of_uncertainty"><img src="/images/goodreads_icon.png" alt="Goodreads"></a>
          <a class="social-icon" href=mailto:edgeofu@gmail.com><img src="/images/Mail_icon.png" alt="Email"></a>
          <a class="social-icon" href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/images/RSS_logo_final.png" alt="RSS"></a>
        </span>
      </div>
      <div class="row">
        <p>&copy; 2015 Katy Bowman</p>
      </div>
    </div>
  </div>

</footer>
