<footer>

  <div class="container-fluid">
    <div class="row">
        <ul id="social">
          <li class="social-icon">
            <a href="http://twitter.com/EdgeofU"><img src="/images/Twitter_logo_final.png" alt="Twitter Logo" class="social-icon"></a>
          </li>
          <li class="social-icon">
            <a href="http://facebook.com/edgeofuncertainty"><img src="/images/FB_logo_final.png" alt="Facebook Logo" class="social-icon"></a>
          </li>
          <li class="social-icon">
            <a href=mailto:edgeofu@gmail.com><img src="/images/mail_icon.png" alt="Email" class="social-icon"></a>
          </li>
          <li class="social-icon">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/images/RSS_logo_final.png" alt="RSS" class="social-icon"></a>
        </ul>
      </div>
      <div class="row">
        <p>&copy; 2015 Katy Bowman</p>
      </div>
    </div>
  </div>

</footer>
